@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  color: #EEE ;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

h1 {
  font-size: 90px;
}

h3 {
  font-size: 50px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: #EEE;
  padding: 10px;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
   
}

.hero__img {
  width: 100vw;
  height: 100vh;
  background-image: url('./images/software-developer-6521720_1280.jpg');
}

.hero__text {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#EEE; 
  opacity: 1;
}

.hero__overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
}