@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

:root {
  --color1: #0d6efd;
  --color2: #444 ;
  --color3: #1e1e1e;
  --color4: #EEE;
  --color5: #000000;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--color4);
}

h1, h2, h3, h4, h5 {
  color: var(--color3)
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  color: var(--color2);
  font-size: 1.5rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: #EEE;
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
   
}

.hero__img {
  width: 100vw;
  height: 100vh;
  background-image: url('./images/software-developer-6521720_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#EEE; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner__img {
  width: 100vw;
  height : 300px;
  object-fit: cover;
}

.bordure {
  width: 20%;
  height: 5px;
  background-color: var(--color1);
  align-self: center;
  margin-bottom: 50px;
}
.bordure2 {
  width: 98%;
  height: 3px;
  background-color: var(--color1);
}


.active-header {
  color : var(--color1)
}