* {
  box-sizing: border-box;
}

nav {
  color: #EEE ;
  background-color: #444 ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  align-content: center;
  text-align: center;
}

li {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: #EEE;
  padding: 10px;
}